.about {
  padding: 100px 0px;
  @include tablet {
    padding: 30px 0px;
  }
  &__container {
    position: relative;
  }
  &__company {
    font-size: 16px;
    line-height: 150%;
    max-width: 1050px;
    margin: 0px 0px 50px 0px;
  }
  &__img {
    width: 1175px;
  }
  &__catalog {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    border-radius: 4px;
    background-color: var(--god-gray);
  }
  &__catalog-wrapper {
    position: relative;
    max-width: 335px;
    width: 100%;
    min-height: 665px;
    padding: 35px;
    gap: 30px;
  }
  &__catalog-logo {
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
  }
  &__catalog-icon {
    color: var(--red);
    width: 105px;
    height: 60px;
  }
  &__catalog-logo-title {
    white-space: nowrap;
  }
  &__catalog-btn {
    @include flex-center;
    position: absolute;
    flex-direction: column;
    width: 185px;
    height: 185px;
    gap: 7px;
    right: 45px;
    bottom: 45px;
    background: url('@img/decor/catalog.svg') 0 0 / 100% 100% no-repeat;
    span {
      display: block;
      max-width: 65px;
      font-size: 12px;
      line-height: 133%;
    }
  }
  &__catalog-file {
    width: 28px;
    height: 28px;
    transform: translateX(-5px);
  }
}
