.error {
  position: relative;
  padding: 110px 0px 170px 0px;
  color: white;
  background: url("@img/decor/404.jpg") center / cover no-repeat;
  @include tablet-min {
    background: url("@img/decor/404-mobile.jpg") center / cover no-repeat;
  }
  @include tablet {
    padding: 70px 0px 120px 0px;
  }
  &__body {
    position: relative;
    max-width: 1020px;
    width: 100%;
    margin: 75px auto 0px auto;
    z-index: 1;
  }
  &__content {
    display: block;
    font-weight: 300;
    text-align: right;
    font-size: 24px;
    opacity: 0.8;
    br {
      display: none;
    }
    @include tablet {
      right: 30px;
      top: 180px;
      font-size: 14px;
      margin-left: auto;
      max-width: 105px;
    }
  }
  &__show {
    position: absolute;
    font-weight: 900;
    font-size: 134px;
    text-transform: uppercase;
    z-index: -1;
    top: -70px;
    right: 150px;
    opacity: 0.3;
    line-height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include tablet {
      font-size: 47px;
      top: 0;
      right: 40px;
    }
  }
  &__btn {
    display: block;
    max-width: 375px;
    text-align: center;
    width: 100%;
    margin: 390px auto 0px auto;
    text-align: center;
    @include tablet {
      margin-top: 310px;
    }
    @include tablet-min {
      max-width: 345px;
    }
  }
}
