.plant {
  padding: 60px 0px 30px 0px;
  background-color: var(--red);
  color: white;
  @include tablet {
    padding-top: 30px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 120px;
    &:last-child {
      text-align: right;
    }
  }
  &__item {
    position: relative;
  }
  &__line {
    position: absolute;
    display: block;
    // left: -30px;
    // bottom: -30px;
    &--one {
      right: -300px;
      left: -30px;
    }
  }
  &__icon {
    width: 135px;
  }
  &__content {
    display: block;
    max-width: 250px;
    margin-top: 12px;
    font-size: 20px;
    line-height: 130%;
  }
  &__img {
    width: 570px;
  }
}
