.technology {
  padding: 105px 0px;
  @include tablet {
    padding: 50px 0px;
  }
  &__content {
    font-size: 20px;
    line-height: 160%;
    margin: 0px 0px 45px 0px;
    @include tablet {
      font-size: 16px;
      line-height: 150%;
    }
  }
  &__tab-top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 40px;
    @include desktop {
      flex-direction: column;
    }
  }
  &__tab-content {
    margin: 0;
    font-size: 16px;
    line-height: 200%;
    max-width: 780px;
    &--bottom {
      max-width: 915px;
      margin-left: auto;
    }
    span {
      font-weight: bold;
    }
    @include big-screen {
      max-width: 525px;
      &--bottom {
        max-width: 750px;
      }
    }
    @include desktop {
      order: 2;
      max-width: none;
      &--bottom {
        &.more-detail {
          max-height: 310px;
          height: 100%;
          &::before {
            display: block;
          }
        }
      }
    }
    @include tablet {
      line-height: 150%;
    }
  }
  &__img-wrapper {
    position: relative;
    width: 560px;
    z-index: 1;
    @include desktop {
      margin: 0 auto 80px auto;
    }
    @include tablet {
      width: calc(100% - 30px);
      margin: 0 0 65px auto;
    }
  }
  &__top-img {
    border-radius: 4px;
    width: 100%;
    height: auto;
  }
  &__img-preview {
    position: absolute;
    padding: 10px 20px;
    width: 370px;
    height: 305px;
    border-radius: 4px;
    background-color: var(--god-gray);
    left: -85px;
    bottom: 0;
    transform: rotate(-90deg);
    z-index: -1;
    @include tablet {
      width: 260px;
      height: 205px;
      left: -65px;
      bottom: 15px;
    }
  }
  &__img-title {
    font-size: 24px;
    line-height: 133%;
    white-space: nowrap;
    color: white;
    @include tablet {
      font-size: 16px;
      line-height: 100%;
    }
  }
  &__tab-bottom {
    position: relative;
    margin-top: 100px;
    @include laptop {
      margin-top: 60px;
    }
    @include tablet {
      margin-top: 30px;
    }
  }
  &__bottom-img {
    width: 100%;
    object-fit: cover;
    height: 360px;
    margin-bottom: 40px;
    border-radius: 4px;
    @include laptop {
      height: 230px;
    }
    @include mobile {
      height: 150px;
      margin-bottom: 30px;
    }
  }
  &__attenction {
    position: absolute;
    left: 30px;
    top: 315px;
    border-radius: 4px;
    backdrop-filter: blur(11px);
    box-shadow: 0 12px 16px 0 rgba(177, 183, 201, 0.24);
    background: rgba(255, 255, 255, 0.71);
    z-index: 1;
    @include desktop {
      top: 310px;
      width: fit-content;
    }
    @include laptop {
      left: auto;
      top: 190px;
      right: 12px;
    }
    @include mobile {
      top: 120px;
    }
  }
  &__attenction-wrapper {
    position: relative;
    max-width: 435px;
    min-height: 420px;
    padding: 40px 25px 25px 40px;
    @include big-screen {
      max-width: 350px;
    }
    @include desktop {
      min-height: auto;
      padding: 15px;
    }
  }
  &__attenction-content {
    margin: 0;
    font-size: 19px;
    line-height: 168%;
    @include desktop {
      display: none;
    }
  }
  &__attenction-icon {
    position: absolute;
    display: block;
    width: 119px;
    height: 123px;
    bottom: 30px;
    right: 30px;
    @include big-screen {
      width: 50px;
      height: 50px;
      right: 10px;
      bottom: 10px;
    }
    @include desktop {
      position: static;
    }
    @include tablet {
      width: 35px;
      height: 35px;
    }
  }
  &__more-btn {
    display: none;
    @include tablet-min {
      display: block;
    }
  }
}
