<header class="header">
	<div class="container header__container">
		<a href="#" class="header__logo">
			<img src="@img/logos/logo.svg" alt="Logo" class="header__logo-img">
		</a>
		<nav class="header__nav" id="burger">
			<div class="header__nav-head">
				<a href="#" class="header__nav-logo">
					<img src="@img/logos/logo-red.svg" alt="Logo" class="header__nav-logo-img">
				</a>
				<button class="btn header__nav-close" id="burger-close">
					<span></span>
					<span></span>
				</button>
			</div>
			<ul class="list header__list">
				<li>
					<a href="#" target="_blank" class="header__nav-btn">Наши продукты</a>
				</li>
				<li>
					<a href="#" target="_blank" class="header__nav-btn">Приемущества</a>
				</li>
				<li>
					<a href="#" target="_blank" class="header__nav-btn">О нас</a>
				</li>
				<li>
					<a href="#" target="_blank" class="header__nav-btn">Контакты</a>
				</li>
				<li>
					<a href="#" target="_blank" class="header__nav-btn">Новости</a>
				</li>
				<li>
					<a href="tel:+7985922-8800" target="_blank" class="header__nav-btn">+7 985 922-88-00</a>
				</li>
			</ul>
			<div class="header__connection">
				<ul class="list header__contacts">
					<li class="header__contacts-item">
						<a href="tel:+79859228800">+7 (985) 922-88-00</a>
					</li>
					<li class="header__contacts-item">
						<a href="mailto:info@oyyo-organic.ru">info@oyyo-organic.ru</a>
					</li>
					<li class="header__contacts-item">
						г. Москва, ул.Ветошный переулок, 9 ТЦ Никольский пассаж
					</li>
				</ul>
				<ul class="list header__social">
					<li>
						<a href="#" class="header__social-btn">
							<svg class="header__social-icon">
								<use xlink:href='img/icons/icons.svg#icon-dzen'></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="#" class="header__social-btn">
							<svg class="header__social-icon">
								<use xlink:href='img/icons/icons.svg#icon-yt'></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="#" class="header__social-btn">
							<svg class="header__social-icon">
								<use xlink:href='img/icons/icons.svg#icon-tel'></use>
							</svg>
						</a>
					</li>
					<li>
						<a href="#" class="header__social-btn">
							<svg class="header__social-icon">
								<use xlink:href='img/icons/icons.svg#icon-tg'></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
			<button class="btn btn-primary header__btn-call">Заказать звонок</button>
		</nav>
		<button class="btn header__burger-open" id="burger-open">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
</header>