<section class="news-catalog">
  <div class="container">
    <div class="news-catalog__nav">
      <ul class="list news-catalog__buttons">
        <li>
          <a href="#" class="news-catalog__btn active">
            Все
          </a>
        </li>
        <li>
          <a href="#" class="news-catalog__btn">
            Новинки
          </a>
        </li>
        <li>
          <a href="#" class="news-catalog__btn">
            События
          </a>
        </li>
        <li>
          <a href="#" class="news-catalog__btn">
            Статьи
          </a>
        </li>
      </ul>
      <div class="dropdown">
        <button class="btn dropdown__btn">
          <span>По дате публикации</span>
          <svg class="dropdown__arrow">
            <use xlink:href='img/icons/icons.svg#icon-arrow'></use>
          </svg>
        </button>
        <div class="dropdown__item">
          <ul class="list dropdown__sort">
            <li>
              <a href="#" class="dropdown__sort-item">По высшим оценкам</a>
            </li>
            <li>
              <a href="#" class="dropdown__sort-item">По низким оценкам</a>
            </li>
            <li>
              <a href="#" class="dropdown__sort-item">По дате публикации</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>