<section class="plant">
  <div class="container plant__container">
    <div class="plant__column">
      <div class="plant__item">
        <img src="@img/logos/plant-1.svg" alt="plant" class="plant__icon" />
        <span class="title plant__content">Увеличение урожайности до 65%</span>
        <img src="@img/decor/plant-line-1.svg" alt="line" class="plant__line plant__line--one">
      </div>
      <div class="plant__item">
        <img src="@img/logos/plant-3.svg" alt="plant" class="plant__icon" />
        <span class="title plant__content">Снижение расхода удобрений</span>
      </div>
    </div>
    <img src="@img/decor/plant.png" alt="plant" class="plant__img" />
    <div class="plant__column">
      <div class="plant__item">
        <img src="@img/logos/plant-2.svg" alt="plant" class="plant__icon" />
        <span class="title plant__content">Улучшение сохранности урожая</span>
      </div>
      <div class="plant__item">
        <img src="@img/logos/plant-4.svg" alt="plant" class="plant__icon" />
        <span class="title plant__content">Повышение приживаемости</span>
      </div>
    </div>
  </div>
</section>
