<section class="rec-products">
  <div class="container rec-products__container">
    <a href="#" target="_blank" class="rec-products__item rec-products__item--red">
      <h5 class="rec-products__title">Высокий и качественный урожай</h5>
      <span class="rec-products__proposal">Посмотреть весь каталог</span>
    </a>
    <a href="#" target="_blank" class="rec-products__item">
      <div class="rec-products__item-head">
        <h5 class="rec-products__title">Альфа</h5>
        <p class="rec-products__content">Жидкое органоминеральное удобрение</p>
        <span class="rec-products__wrapper-arrow">
          <svg class="rec-products__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </span>
      </div>
      <img src="@img/products/canister.png" alt="canister" class="rec-products__img" />
    </a>
    <a href="#" target="_blank" class="rec-products__item">
      <div class="rec-products__item-head">
        <h5 class="rec-products__title">Биогель</h5>
        <p class="rec-products__content">Жидкое органоминеральное удобрение</p>
        <span class="rec-products__wrapper-arrow">
          <svg class="rec-products__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
          </svg>
        </span>
      </div>
      <img src="@img/products/canister.png" alt="canister" class="rec-products__img" />
    </a>
  </div>
</section>
