<section class="trend">
  <div class="container">
    <div class="section-head start">
      <img src="@img/logos/logo-red.svg" alt="logo" class="section-head__logo" />
      <h2 class="title title-2">
        Одной из значимых тенденций в мире агрохимии является
        <span
          >разработка инновационных средств для ускорения развития выращиваемых культур, которые не
          будут негативно сказываться на качестве урожая.</span
        >
      </h2>
    </div>
    <div class="trend__humic">
      <div class="trend__humic-body">
        <img data-da=".trend__humic-info, 993, 3" src="@img/decor/humic.jpg" alt="doctor" class="trend__humic-img" />
        <div class="trend__humic-info">
          <div class="trend__header-title">
            <h3 class="trend__title title title-2">Гуминовые кислоты</h3>
            <span class="subtitle trend__subtitle"> Humic Acid </span>
          </div>
          <span class="title trend__the">-это...</span>
          <p class="trend__content trend__content--humic">
            результат постепенного распада органики, который мы называем разложением. Всё то, что
            осталось после существования представителей растительного и животного мира, со временем
            превращается органическую составляющую почвенного грунта. Как правило насыщенный темный
            цвет почвы связывают с содержанием в нем гуминовых кислот.
          </p>
          <div class="trend__humic-bottom">
            <img src="@img/decor/element.png" alt="element" class="trend__humic-decor">
            <div class="trend__humic-elements">C9H8K2O4</div>
            <p class="trend__humic-bottom-content">
              Гуминовые вещества стимулируют рост и развитие растений. Расширяют системы циркуляции
              растений и обеспечивают оптимальные системы транспортировки и дыхания растений.
              Снижают стресс и преждевременный износ растений. Они значительно ускоряют время
              прорастания семян и укрепляют корневую систему, повышают резистентность к засухе
              и заражению паразитами.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
