.tab-nav {
  display: flex;
  align-items: start;
  gap: 70px;
  border-bottom: 1px solid var(--mishka);
  @include desktop {
    gap: 40px;
  }
  @include laptop {
    gap: 30px;
  }
  @include tablet {
    gap: 25px;
  }
  &__btn {
    position: relative;
    font-size: 24px;
    line-height: 133%;
    padding-bottom: 24px;
    text-align: left;
    transition: color 0.2s ease;
    &.active {
      color: var(--red);
      &::before {
        opacity: 1;
      }
    }
    @include hover {
      color: var(--red);
      &::before {
        opacity: 1;
      }
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      height: 3px;
      background-color: currentColor;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    @include laptop {
      font-size: 22px;
    }
    @include tablet {
      font-size: 20px;
      line-height: 110%;
    }
  }
  &__btn-type {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
    font-size: 14px;
    line-height: 229%;
    span {
      opacity: 0.5;
    }
    @include laptop {
      display: none;
    }
  }
  &__type-icon {
    width: 27px;
    height: 27px;
    color: var(--orange);
  }
}