.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
  &.btn-primary {
    font-family: "RoadRadio", sans-serif;
    padding: 29px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: white;
    border: 1px solid white;
    color: black;
    transition: color .2s ease, background-color .2s ease;
    @include hover {
      background-color: transparent;
      color: white;
    }
  }
}
