.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
  text-align: center;
}

.btn-custom {
  font-family: "RoadRadio", sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  &.btn-stroke {
    color: var(--red);
    border: 1px solid var(--red);
    font-size: 11px;
    padding: 16px;
    transition: color 0.2s ease;
    @include hover {
      background-color: var(--red);
      color: white;
    }
  }
  &.btn-primary {
    padding: 29px;
    font-size: 18px;
    background-color: white;
    border: 1px solid white;
    color: black;
    transition:
      color 0.2s ease,
      background-color 0.2s ease;
    &--green {
      background-color: var(--snow-flurry);
      border-color: var(--snow-flurry);
      @include hover {
        color: var(--snow-flurry);
        background-color: transparent;
      }
    }
    @include hover {
      background-color: transparent;
      color: white;
    }
  }
}
