.title {
  font-family: "RoadRadio", sans-serif;
  font-weight: 300;
  margin: 0;
  span {
    font-weight: bold;
  }
}
.title-1 {
  font-size: 48px;
  @include laptop {
    font-size: 40px;
  }
  @include mobile {
    font-size: 26px;
  }
}
.title-2 {
  font-size: 36px;
  line-height: 110%;
  @include desktop {
    font-size: 32px;
  }
  @include tablet {
    font-size: 28px;
  }
  @include tablet {
    font-size: 22px;
  }
  @include mobile {
    font-size: 16px;
  }
}

.subtitle {
  font-weight: 800;
  font-size: 96px;
  line-height: 29%;
  color: var(--whisper);
  text-transform: uppercase;
  @include big-screen {
    font-size: 74px;
  }
  @include desktop {
    font-size: 58px;
  }
  @include tablet {
    font-size: 48px;
  }
}
