.title {
  font-family: "RoadRadio", sans-serif;
  font-weight: 300;
  margin: 0;
}
.title-1 {
  font-size: 48px;
  @include laptop {
    font-size: 40px;
  }
  @include mobile {
    font-size: 26px;
  }
}
.title-2 {
  font-size: 36px;
  line-height: 110%;
  @include tablet {
    font-size: 28px;
  }
  @include tablet {
    font-size: 24px;
  }
  @include mobile {
    font-size: 16px;
  }
}
